* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* COMMON */
.code-block {
  font-family: "Roboto Mono", monospace;
  background: #eee;
  line-height: 1.6;
  padding: 10px 0;
}
a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 1170px;
  min-width: calc (100% - 1170px);
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.navbar {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  padding: 10px 20px;
}

.nav-item:hover {
  background: #ccc;
}

.main-header {
  margin: 15px 0;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
}

.main-content {
  display: flex;
  min-height: 100vh;
  gap: 20px;
}
/* left */

.left-content {
  width: 30%;
  border: 1px solid #000;
  border-radius: 10px;
  /* position: fixed; */
}

.content-item {
  padding-left: 15px;
  margin-bottom: 10px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.7;
}

.sub-title {
  padding-left: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sub-title__name {
  font-size: 1.6rem;
  line-height: 1.67;
}

.sub-title__name:hover {
  background: #eee;
}
/* right */
.right-content {
  width: 70%;
  border: 1px solid #000;
  border-radius: 10px;
}
.each-content {
  padding-left: 20px;
}
.right-content__title {
  font-weight: 600;
  line-height: 1.8;
  font-size: 2rem;
  margin-top: 20px;
}
.content-desc {
  line-height: 1.6;
  padding: 10px 0;
}
