/* Navbar */

.navbar__inner {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.logo img {
  width: 200px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-item {
  padding: 10px 15px;
  position: relative;
}

/* picture */
.slogan-img {
  margin-top: 20px;
  height: 250px;
  background: #ccc;
}

.marquee-text {
  color: #10375c;
  padding: 10px 0;
  margin-top: 20px;
}

.carousel-item {
  width: 100%;
  height: 500px;
  object-fit: cover;
  position: relative;
  top: -150px;
}

/* Picture for Smartphone */
.mobile-responsive {
  display: none;
}

.mobile-responsive img {
  width: 100%;
  object-fit: cover;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-top: 20px;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  position: absolute;
}

.heading::after {
  display: inline-block;
  content: "";
  width: 150px;
  height: 2px;
  background: #10375c;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  margin: 0 auto;
}

.desc {
  width: 80%;
  line-height: 1.8;
  text-align: justify;
  text-indent: 40px;
  width: calc(100% - 48px);
  font-size: 1.6rem;
}

.desc-1 {
  margin-top: 70px;
}

.important-part {
  font-weight: bolder;
}

/* pART thong bao */

.info-part {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0 10px;
}
.info-part-inner {
  border: 1px solid #000;
  padding: 10px;
  border-radius: 7px;
}

.info-part-heading {
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
}

.info-part-desc {
  line-height: 1.5;
  text-align: justify;
  text-indent: 20px;
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 4);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.info-part-link {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #10375c;
}

.info-part-link:hover {
  font-weight: bolder;
}
/* Footer */

.map {
  margin-top: 20px;
}

.address {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.last_nav {
  margin-bottom: 10px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.last_nav__item {
  padding: 12px 20px;
  font-weight: 500;
}
