/* Navbar */

.navbar__inner {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.logo img {
  width: 200px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-item {
  padding: 10px 15px;
  position: relative;
}

.navbar-item:hover .sub-navbar {
  display: flex;
}

.sub-navbar {
  position: absolute;
  display: none;
}

.sub-navbar__item {
  margin-top: 10px;
  padding: 10px 15px;
  border-left: 1px solid #10375c;
  border-right: 1px solid #10375c;
}

.sub-navbar__item:hover {
  background: #ccc;
  cursor: pointer;
  color: #10375c;
}

/* picture */
.slogan-img {
  margin-top: 20px;
  height: 250px;
  background: #ccc;
}

.marquee-text {
  color: #10375c;
  padding: 10px 0;
  margin-top: 20px;
}

.carousel-item {
  width: 100%;
  height: 500px;
  object-fit: cover;
  position: relative;
  top: -150px;
}
/* About US */
.aboutUs__heading,
.applyNews__heading,
.contact__heading {
  position: relative;
  margin-top: 20px;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.02em;
  color: #10375c;
}

.aboutUs__heading::after,
.applyNews__heading::after,
.contact__heading::after {
  display: inline-block;
  content: "";
  width: 170px;
  height: 2px;
  background: #10375c;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -7px;
  margin: 0 auto;
}

.aboutUs__desc,
.applyNews__desc,
.contact__desc {
  margin-top: 20px;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.8;
  text-align: justify;
  /* color: #575f66; */
}

/* footer */
.footer__map {
  margin-top: 30px;
}

.footer__inner {
  margin-top: 50px;
  display: flex;
  gap: 39px;
  background: #000;
  color: #fff;
  padding: 10px 0;
}

.footer-block {
  width: 100%;
  padding: 0 20px;
}

.footer__logo {
  width: 50%;
  margin: 0 auto;
}

.footer-block1__desc,
.footer-block2__desc {
  text-align: justify;
  line-height: 1.8;
}

.footer__block2__heading {
  text-align: center;
  font-size: 2rem;
}
