/* Navbar */

.navbar__inner {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.logo img {
  width: 200px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-item {
  padding: 10px 15px;
  position: relative;
}

.navbar-item:hover .sub-navbar {
  display: flex;
}

.sub-navbar {
  position: absolute;
  display: none;
}

.sub-navbar__item {
  margin-top: 10px;
  padding: 10px 15px;
  border-left: 1px solid #10375c;
  border-right: 1px solid #10375c;
}

.sub-navbar__item:hover {
  background: #ccc;
  cursor: pointer;
  color: #10375c;
}

/* picture */
.slogan-img {
  margin-top: 20px;
  height: 250px;
  background: #ccc;
}

.marquee-text {
  color: #10375c;
  padding: 10px 0;
  margin-top: 20px;
}

.carousel-item {
  width: 100%;
  height: 500px;
  object-fit: cover;
  position: relative;
  top: -150px;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-top: 20px;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  position: absolute;
}

.heading::after {
  display: inline-block;
  content: "";
  width: 150px;
  height: 2px;
  background: #10375c;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  margin: 0 auto;
}

.desc {
  width: 80%;
  line-height: 1.8;
  text-align: justify;
  text-indent: 40px;
  width: calc(100% - 48px);
  font-size: 1.6rem;
}

.desc-1 {
  margin-top: 70px;
}

.important-part {
  font-weight: bolder;
}

/* Footer */

.map {
  margin-top: 20px;
}

.footer__inner {
  min-height: 300px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.left-footer {
  margin-top: 20px;
}
