/* Navbar */

.navbar__inner {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.logo img {
  width: 200px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-item {
  padding: 10px 15px;
}

/* picture */
.slogan-img {
  margin-top: 20px;
  height: 250px;
  background: #ccc;
}

/* About US */
.aboutUs__heading,
.applyNews__heading,
.contact__heading {
  position: relative;
  margin-top: 20px;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.02em;
  color: #10375c;
}

.aboutUs__heading::after,
.applyNews__heading::after,
.contact__heading::after {
  display: inline-block;
  content: "";
  width: 170px;
  height: 2px;
  background: #10375c;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -7px;
  margin: 0 auto;
}

.aboutUs__desc,
.applyNews__desc,
.contact__desc {
  margin-top: 20px;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.8;
  /* color: #575f66; */
}

/* footer */
.footer__map {
  margin-top: 50px;
}

.footer__inner {
  margin-top: 50px;
  height: 300px;
  display: flex;
  gap: 30px;
}

.footer-block {
  width: 100%;
  background: #ccc;
}
